<div>
    <section class="text-container shadow">
        <h1>Impressum/ Angaben gemäß §5 TMG</h1>
        <div class="line"></div>
        <p style="font-weight: bold">Betreiber/ Redaktion:</p>
        <p>Marcus Neubert
            <span class="next-line">
                Am Wielandstr. 2
            </span>
            <span class="next-line">
                06114 Halle
            </span>
        </p>
        <p>Telefon/Fax: 0345/ 68209670
            <span class="next-line">
                Mobil/WhatsApp: 0162/ 6660554
            </span>
            <span class="next-line">
                E-Mail: <a href="mailto:marcus.neubert@signal-iduna.net">marcus.neubert@signal-iduna.net</a>
            </span>
            <span class="next-line">
                <a href="https://www.signal-iduna.de/marcus.neubert" target="_blank">www.signal-iduna.de/marcus.neubert</a>
            </span>
        </p>
        <p>Gebundener Versicherungsvertreter nach §34 d Absatz 4 Gewerbeordnung
            Registrierungs-Nr.: D-LDF1-QGNIE-38
            <span class="next-line">
                Zuständige Registerstelle: Deutscher Industrie- und Handelskammertag (DIHK)
                <a href="https://www.vermittlerregister.org" target="_blank">www.vermittlerregister.org</a>
            </span>
        </p>
        <p>Bei der Beratung werden ausschließlich Produkte der SIGNAL IDUNA Gruppe zugrunde
            gelegt (§60 Absatz 2 VVG).</p>
        <p>Haftung für Inhalte
                <span class="next-line">
                    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für
                eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
                Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
                verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
                überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
                Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
                Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
                unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
                Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
                Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
                umgehend entfernen.
                </span>
            </p>
        <p>Haftung für Links
                <span class="next-line">
                    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
                    Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
                    fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
                    der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
                    Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
                    auf mögliche Rechtsverstöße überprüft. Rechtswidrige
                    Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                    inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
                    einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
                    werden wir derartige Links umgehend entfernen.
                </span>
            </p>
    </section>
</div>
