<div>
    <section class="pull-left text-container shadow">
        <h1>Ständige Weiterbildung und lebenslanges Lernen sind die Grundvorrausetzung um dauerhaft ein
            kompetenter Ansprechpartner in allen Lebenslagen zu werden – und zu bleiben!</h1>
        <div class="line"></div>
        <img src="../../../resources/images/MarcusNeubert_kleiner.jpg">
        <p>Mein Name ist Marcus Neubert. Ich bin geboren im Jahre 1983 im Freistaat Sachsen.</p>
        <p>Mein Abitur machte ich am Burg- Gymnasium Wettin, danach folgte der Zivildienst in einem Altenheim in Halle/ Saale.</p>
        <p>
            2004 begann ich dann meine Laufbahn bei der SIGNAL- IDUNA Gruppe in Dresden. Nach 2,5 Jahren der Ausbildung
            konnte ich meine Prüfung zum Versicherungskaufmann vor der IHK Halle- Dessau ablegen.
            <span class="next-line">Direkt im Anschluss begann ich meine Weiterbildung zum Versicherungsfachwirt an
                der Deutschen Versicherungsakademie in Dortmund, die ich im Jahr 2010 erfolgreich abgeschlossen habe.</span>
            <span class="next-line">Mir liegt sehr viel daran, mit meinen Kenntnissen stets auf dem aktuellsten Stand zu sein.</span>
            <span class="next-line">Deshalb bilde ich mich regelmäßig weiter, um für Sie ein kompetenter Ansprechpartner zu sein.</span>
        </p>
        <ul>
            <li class="uber-mich-item">- Versicherungskaufmann (IHK)</li>
            <li class="uber-mich-item">- Versicherungsfachwirt (IHK)</li>
            <li class="uber-mich-item">- Experte für betriebliche Altersversorgung (IHK)</li>
            <li class="uber-mich-item">- Fachberater für Handwerk, Handel und Gewerbe (ZDH)</li>
            <li class="uber-mich-item">- Anlageberater nach §34f</li>
        </ul>
    </section>
    <section class="pull-left text-container shadow">
        <h1>Ständige Weiterbildung und lebenslanges Lernen sind die Grundvorrausetzung um dauerhaft ein
            kompetenter Ansprechpartner in allen Lebenslagen zu werden – und zu bleiben!</h1>
        <div class="line"></div>
        <img src="../../../resources/images/MichaelLages.jpg">
        <p>Mein Name ist Marcus Neubert. Ich bin geboren im Jahre 1983 im Freistaat Sachsen.</p>
        <p>Mein Abitur machte ich am Burg- Gymnasium Wettin, danach folgte der Zivildienst in einem Altenheim in Halle/ Saale.</p>
        <p>
            2004 begann ich dann meine Laufbahn bei der SIGNAL- IDUNA Gruppe in Dresden. Nach 2,5 Jahren der Ausbildung
            konnte ich meine Prüfung zum Versicherungskaufmann vor der IHK Halle- Dessau ablegen.
            <span class="next-line">Direkt im Anschluss begann ich meine Weiterbildung zum Versicherungsfachwirt an
                der Deutschen Versicherungsakademie in Dortmund, die ich im Jahr 2010 erfolgreich abgeschlossen habe.</span>
            <span class="next-line">Mir liegt sehr viel daran, mit meinen Kenntnissen stets auf dem aktuellsten Stand zu sein.</span>
            <span class="next-line">Deshalb bilde ich mich regelmäßig weiter, um für Sie ein kompetenter Ansprechpartner zu sein.</span>
        </p>
        <ul>
            <li class="uber-mich-item">- Versicherungskaufmann (IHK)</li>
            <li class="uber-mich-item">- Versicherungsfachwirt (IHK)</li>
            <li class="uber-mich-item">- Experte für betriebliche Altersversorgung (IHK)</li>
            <li class="uber-mich-item">- Fachberater für Handwerk, Handel und Gewerbe (ZDH)</li>
            <li class="uber-mich-item">- Anlageberater nach §34f</li>
        </ul>
    </section>
    <section class="pull-left text-container shadow">
        <h1>Ständige Weiterbildung und lebenslanges Lernen sind die Grundvorrausetzung um dauerhaft ein
            kompetenter Ansprechpartner in allen Lebenslagen zu werden – und zu bleiben!</h1>
        <div class="line"></div>
        <img src="../../../resources/images/JessicaAlvarez.jpg">
        <p>Mein Name ist Marcus Neubert. Ich bin geboren im Jahre 1983 im Freistaat Sachsen.</p>
        <p>Mein Abitur machte ich am Burg- Gymnasium Wettin, danach folgte der Zivildienst in einem Altenheim in Halle/ Saale.</p>
        <p>
            2004 begann ich dann meine Laufbahn bei der SIGNAL- IDUNA Gruppe in Dresden. Nach 2,5 Jahren der Ausbildung
            konnte ich meine Prüfung zum Versicherungskaufmann vor der IHK Halle- Dessau ablegen.
            <span class="next-line">Direkt im Anschluss begann ich meine Weiterbildung zum Versicherungsfachwirt an
                der Deutschen Versicherungsakademie in Dortmund, die ich im Jahr 2010 erfolgreich abgeschlossen habe.</span>
            <span class="next-line">Mir liegt sehr viel daran, mit meinen Kenntnissen stets auf dem aktuellsten Stand zu sein.</span>
            <span class="next-line">Deshalb bilde ich mich regelmäßig weiter, um für Sie ein kompetenter Ansprechpartner zu sein.</span>
        </p>
        <ul>
            <li class="uber-mich-item">- Versicherungskaufmann (IHK)</li>
            <li class="uber-mich-item">- Versicherungsfachwirt (IHK)</li>
            <li class="uber-mich-item">- Experte für betriebliche Altersversorgung (IHK)</li>
            <li class="uber-mich-item">- Fachberater für Handwerk, Handel und Gewerbe (ZDH)</li>
            <li class="uber-mich-item">- Anlageberater nach §34f</li>
        </ul>
    </section>
</div>
