$main-color: #CCAB6A;

body {
    margin: 0;
    font: 15px "PT Sans", Arial, Verdana, Sans-serif;
    color: #505050;
    line-height: 22px;
    background-color: #FAF9F7;
}

.wrapper{
    margin: 0 auto;
}

.header{
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.93);
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 146px;
    z-index: 1;
    border-bottom: 4px solid $main-color;
    @include desktop{
        height: 100px;
    };
}

.header-parent-menu{
    @include desktop{
        float: right;
        width: auto;
    }
    width: 100%;
    text-align: center;
}

.header-child-menu{
    display: inline-block;
    @include mobile{
        width: 100%;
    }
}

.footer{
    background-color: #F8F8F8;
    width: 100%;
    height: 66px;
    border-top: 2px solid $main-color;

    .footer-link{
        color: #707070;
        padding-left: 7px;
        margin-left: 7px;
        font-size: 0.85em;
    }

    .footer-border{
        border-left: 1px solid #707070;
    }

    .footer-span{
        padding-right: 14px;
    }
}

.carousel{
    padding-top: 166px;
    @include desktop{
        padding-top: 120px;
    };
}

.carousel-content{
    height: 340px;
    border: 2px solid $main-color;
    font-family:Gudea, Arial, Verdana, Sans-serif;
    @include mobile{
        height: 194px;
    };
}

.text-container{
    margin: 20px 0;
    background: #FFF;
    padding: 30px 20px;
}

.full-width {
  width: 100%;
}

.text-container > img {
    width: 30%;
    min-width: 120px;
    height: auto;
    float: right;
    border: 2px solid #CCAB6A;
    margin-left: 10px;
}

.text-container > ul {
    list-style-type: decimal;
}

.text-container > h1{
    font-family:Gudea, Arial, Verdana, Sans-serif;
    color: $main-color;
    font-size: 24px;
    font-weight: bold;
    @include mobile{
        font-size: 20px;
    };
}

.line{
    border: 1px solid $main-color;
    margin-bottom: 40px;
}

.menu-item{
    padding: 10px;
    float: left;
    cursor: pointer;
    @include desktop{
        margin-top: 54px;
        display: block !important;
    }
    @include tablet{
        display: block !important;
    }
    @include mobile{
        float: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: rgb(97, 155, 201);
        background-color: rgba(97, 155, 201, 0.95);
    }
}

.menu-item-hover{
    background-color: rgb(82, 139, 194);
    background-color: rgba(82, 139, 194, 0.97);
    color: #FFF;
}

.menu-item-selected{
    background-color: $main-color;
    color: #FFF;
}

.menu-item:hover{
    @extend .menu-item-hover
}

.navigation-item{
    @include mobile{
        display: block !important;
    }
    display: none !important;
    background-color: #C2A25E;
    color: #FFF;
}

.hidden{
    display: none;
}

.dropdown-menu{
    border-radius: 0;
    margin-top: -1px;
    background-color: #8E8E8E;
    color: #FFF;
    border: 1px solid #8E8E8E;
}

.dropdown-menu > li > a{
    color: #FFF;
}

.dropdown-menu > li > a:hover{
    color: #FFF;
    background-color: $main-color;
}

.header-img-container{
    width: 60%;
    height: 100px;
    position: relative;
    margin: 0 auto;
    @include desktop{
        float: left;
        margin: 0;
    };
    @include tablet{
        width: 100%;
    };
    @include mobile{
        width: 100%;
    };
}

.header-img-container > a > img{
    height: auto;
    margin:auto;
}

.left-header-img{
    width: 43% !important;
}

.right-header-img{
    width: 43% !important;
}

.outer-container{
    position: relative;
    height: 66px;
    padding: 0;
}

.inner-container{
    top: 45%;
    width: 100%;
    @include desktop{
        position: absolute;
    };
}

.footer-items{
    position: relative;
    text-align: center;
    @include desktop{
        text-align: left;
    };
}

.footer-left{
    @extend .footer-items;
    @include desktop{
        float: left;
    };
}

.footer-right{
    @extend .footer-items;
    @include desktop{
        float: right;
    };
}

.next-line{
    display: block;
}

.shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.underline{
    text-decoration: underline;
}

.sitemap > li{
    list-style-type: square;
}

.carousel-main{
    background: url("../resources/images/MainPicture.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-privatkunden{
    background: url("../resources/images/kind.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-leistungen{
    background: url("../resources/images/wine.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-partner{
    background: url("../resources/images/partners.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-beratung{
    background: url("../resources/images/lighthouse.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-vorsorgevollmacht{
    background: url("../resources/images/doctors.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-sitemap{
    background: url("../resources/images/glaciar.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-gewerbekunden{
    background: url("../resources/images/saving.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-kontakt{
    background: url("../resources/images/Kontakt.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-uber-mich{
    background: url("../resources/images/uberUns.jpg") no-repeat left;
    background-size: 100%;
}

.carousel-summer{
    background: url("../resources/images/summer.jpg") no-repeat left;
    background-size: 100%;
}
.carousel-winter{
    background: url("../resources/images/winter.jpg") no-repeat left;
    background-size: 100%;
}
.carousel-autumn{
    background: url("../resources/images/autumn.jpg") no-repeat left;
    background-size: 100%;
}
.carousel-spring{
    background: url("../resources/images/spring.jpg") no-repeat left;
    background-size: 100%;
}
.carousel-new-year{
    background: url("../resources/images/newyear.jpg") no-repeat left;
    background-size: 100%;
}
.carousel-christmas{
    background: url("../resources/images/christmas.jpg") no-repeat left;
    background-size: 100%;
}
