<div>
    <section class="text-container shadow">
        <h1>Sitemap</h1>
        <div class="line"></div>
        <ul class="sitemap">
            <li><a href="#/">Willkommen</a></li>
            <li><a href="#/uber-mich">Über mich</a></li>
            <li>
                <a href="#/leistungen">Leistungen</a>
                <ul>
                    <li><a href="#/gewerbekunden">Gewerbekunden</a></li>
                    <li><a href="#/privatkunden">Privatkunden</a></li>
                    <li><a href="#/beratung">Beratungs-Zyklus</a></li>
                    <li><a href="#/vorsorgevollmacht">Vorsorgevollmacht</a></li>
                </ul>
            </li>
            <li>
                <a href="#/kontakt">Kontakt</a>
                <ul>
                    <li><a href="#/impressum">Impressum</a></li>
                </ul>
            </li>
        </ul>
    </section>
</div>
