<div>
    <section class="pull-left text-container shadow full-frame">
        <h1>Vorsorgevollmacht & Patientenverfügung</h1>
        <div class="line"></div>
        <video width="320" height="240" controls class="pull-right">
            <source src="../../../resources/videos/Vorsorgevollmacht.mp4" type="video/mp4">
        </video>
        <p>Sie können noch so gut abgesichert sein. Wenn Sie jedoch durch einen Unfall oder durch Krankheit nicht mehr
            in der Lage sind, selbst Entscheidungen zu treffen, hilft es Ihnen wenig.</p>
        <p>Vorsorgevollmacht und Patientenverfügung übertragen Ihren Angehörigen die Möglichkeit, in Ihrem Sinne zu
            entscheiden.</p>
        <p>Ich arbeite seit einiger Zeit mit der Rechtsanwaltskanzlei Lambrecht & Partner aus Berlin zusammen. Diese
            hat sich auf diesem Gebiet spezialisiert und bereits mehrfach medienwirksam auf das Thema aufmerksam
            gemacht.</p>
        <p>Ich vereinbare gern mit Ihnen einen Beratungstermin.</p>
        <p>Bitte nehmen Sie sich kurz Zeit, und schauen Sie sich dieses Video an.</p>
    </section>
</div>
