<div>
    <section class="text-container shadow">
        <h1>Ich biete Ihnen alles aus einer Hand, von der Beratung bis zur Hilfe im Schadenfall</h1>
        <div class="line"></div>
        <p>Das Thema ganzheitliche Beratung steht im Fokus meiner Kundengespräche.</p>
        <p>Wir besprechen zusammen Ihre persönlichen Wünsche und Ziele, sei es nun kurz-, mittel- oder langfristig.</p>
        <p>Dabei biete ich einen Rundum-Service, vom Erstkontakt bis zur Schadenregulierung haben Sie immer einen
            kompetenten und zuverlässigen Ansprechpartner in Ihrer Nähe, maximal einen Telefonanruf entfernt.</p>
        <p>Für alle Angestellten im öffentlichen Dienst sowie Angestellte und Arbeiter in Wirtschaft und Industrie
            bietet die SIGNAL IDUNA Gruppe  exklusive Prämienvorteile über das Versorgungswerk und unsere
            anderen Partner.</p>
        <p>Zu meinen Dienstleistungen zählen außerdem: Die Erstellung von Versorgungsgutachten, die Überwachung und
            Abwicklung von Schadenfällen sowie die Vermittlung von Experten für Vorsorgevollmacht, Rechtsvertretung
            und Handwerksfirmen.</p>
    </section>
</div>
