<div>
    <section class="text-container shadow">
        <h1>Ganzheitliche Beratung, damit Sie auch noch mein Kunde sind, wenn ich mal in Rente gehe!</h1>
        <div class="line"></div>
        <p>Entgegen vieler Vorurteile geht es in einem ganzheitlichen Beratungsgespräch nicht darum,
            Ihnen möglichst viel zu verkaufen.
                <span class="next-line">
                    Im Gegenteil – ich bekomme die Möglichkeit, Ihre Lebenssituation zu verstehen und Ihre
                    finanziellen Rahmenbedingungen kennenzulernen.
                </span>
                <span class="next-line">
                    Auf Basis dieser gesammelten Informationen kann ich Ihnen eine eindeutige Empfehlung aussprechen
                    und mit Ihnen ein passendes Konzept zu den Themen Absicherung, Altersvorsorge und
                    Geldanlage erarbeiten.
                </span>
            </p>
        <p>Dieser Beratungszyklus erstreckt sich über viele Jahre. Schließlich ändern sich Lebenssituationen oft,
            beispielsweise durch die Geburt eines Kindes oder den Erwerb einer Immobilie.</p>
        <p>Mein Ziel ist es, Sie in all diesen Phasen zu begleiten. Damit Ihre Hinterbliebenen abgesichert sind oder –
            so hoffen wir eher – Sie ein gesundes und glückliches Leben führen mit einer gesicherten Rente.</p>
    </section>
</div>
