<div class="footer footer-directive">
    <div class="container-fluid outer-container">
        <div class="inner-container">
            <div class="footer-left">
                <a href="#!/kontakt" class="footer-link">Kontakt</a>
                <a href="#!/sitemap" class="footer-link footer-border">Sitemap</a>
                <a href="#!/impressum" class="footer-link footer-border">Impressum</a>
            </div>

            <div class="footer-right">
                <a href="mailto:simonetto@gmail.com" class="footer-link footer-span">&copy;2015 Renzo Simonetto</a>
            </div>
        </div>
    </div>

</div>
