<div class="header header-directive">
    <div class="container-fluid">
        <div class="header-img-container">
           <a href="#/">
               <img  itemprop="image" src="../../../resources/images/50563_MN-SI.png" class="pull-left left-header-img" alt="Versicherung Neubert">
               <img  itemprop="image" src="../../../resources/images/SIGNAL_IDUNA_Logo.png" class="pull-right right-header-img" alt="Versicherung Neubert">
           </a>
        </div>
        <section class="header-parent-menu">
            <div class="header-child-menu" outside-click="amIhidden = true">
                <div class="menu-item navigation-item" ng-click="showMenu()">
                    Navigation
                </div>
                <div class="menu-item" ng-class="{'menu-item-selected': amISelected(0), 'hidden': amIhidden}" ng-click="redirect( '/' )">
                    Willkommen
                </div>
                <div class="menu-item" ng-class="{'menu-item-selected': amISelected(1), 'hidden': amIhidden}" ng-click="redirect( '/uber-mich' )">
                    Über mich
                </div>
                <div class="menu-item" ng-class="{'menu-item-selected': amISelected(2), 'hidden': amIhidden}" ng-click="redirect( '/leistungen' )">
                    Leistungen
                </div>
                <div class="menu-item" ng-class="{'menu-item-selected': amISelected(4), 'hidden': amIhidden}" ng-click="redirect( '/kontakt' )">
                    Kontakt
                </div>
            </div>
        </section>
    </div>
</div>
