<div>
    <section class="pull-left referenzen-container shadow">
        <h1>Zusammenarbeit mit</h1>
        <div class="line"></div>
        <img src="../../../resources/images/allrecht.gif">
        <img src="../../../resources/images/arcd.jpg">
        <img src="../../../resources/images/deurag.jpg">
        <img src="../../../resources/images/deutscherring.png">
        <img src="../../../resources/images/donner-reuschel.jpg">
        <img src="../../../resources/images/hansainvest.gif">
        <img src="../../../resources/images/pvag.png">
        <img src="../../../resources/images/sdv.png">
        <img src="../../../resources/images/signal-iduna.jpg">
        <img src="../../../resources/images/signal-iduna.png">
        <img src="../../../resources/images/versorgungswerke.jpg">
        <img src="../../../resources/images/versorgungswerke.png">
        <img class="bigger-logo" src="../../../resources/images/voedag.png">
    </section>
</div>
