<div class="">

    <section class="teaser">
        <div class="col-sm-3">
            <div class="photoBlock shadow">
                <div class="photoTxt">
                    <a href="#/gewerbekunden">Gewerbekunden</a>
                </div>
                <a href="#/gewerbekunden"><img src="../../../resources/images/Gewerbekunden.jpg" class="teaser-img"></a>
                <div class="img-txt">
                    <p>Profitieren Sie vom Versorgungswerk und meinem Fachwissen</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="photoBlock shadow">
                <div class="photoTxt">
                    <a href="#/privatkunden">Privatkunden</a>
                </div>
                <a href="#/privatkunden"> <img src="../../../resources/images/Privatkunden.jpg" class="teaser-img"></a>
                <div class="img-txt">
                    <p>Bedarfsgerecht abgesichert – basierend auf Ihren Wünschen und Zielen</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="photoBlock shadow">
                <div class="photoTxt">
                    <a href="#/beratung">Beratungs-Zyklus</a>
                </div>
                <a href="#/beratung"><img src="../../../resources/images/Beratungszyklus.jpg" class="teaser-img"> </a>
                <div class="img-txt">
                    <p>Von der Kontaktaufnahme bis zum Schadenfall</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="photoBlock shadow">
                <div class="photoTxt">
                    <a href="#/vorsorgevollmacht">Vorsorgevollmacht</a>
                </div>
                <a href="#/vorsorgevollmacht"><img src="../../../resources/images/Vorsorgevollmacht.jpg" class="teaser-img"></a>
                <div class="img-txt">
                    <p>Lassen Sie nichts Dritte entscheiden</p>
                </div>
            </div>
        </div>
    </section>

    <section class="pull-left text-container shadow full-frame">
        <h1>Ganzheitliche Beratung-abgestimmt auf ihre Wünsche und Ziele</h1>
        <div class="line"></div>
        <img src="../../../resources/images/business1.jpg" alt="Versicherung Neubert">
        <p style="font-weight: bold">Eine ganzheitliche Beratung von der Bedarfsanalyse, über die Anpassung an neue
            Lebensabschnitte, bis hin zur persönlichen Betreuung im Schadenfall - das ist mein Konzept!</p>
        <p>Versicherungen sind kein Thema, mit dem sich jeder gern beschäftigt - das verstehe ich!
            <span class="next-line">
                Dennoch hat fast jeder Versicherungen, weil er hofft, damit im Schadenfall finanziell abgesichert zu sein.
            </span>
        </p>
        <p>Dann stellen Sie sich doch einmal kurz diese 3 Fragen:</p>
        <ul>
            <li>Kenne ich <span class="underline">alle</span> meine finanziellen Risiken?</li>
            <li>Bin ich gegen diese finanziellen Risiken auch in der <span class="underline">richtigen Höhe</span> abgesichert?</li>
            <li>Sind meine Versicherungen alle auf dem <span class="underline">modernsten</span> Stand?</li>
        </ul>
        <p>In Deutschland gibt es 579 zugelassene Versicherungsunternehmen und vielfach mehr an Versicherungsprodukten.
            <span class="next-line">
                Durch meine Zuverlässigkeit und den schnellen und persönlichen Kontakt vor Ort, biete ich Ihnen einen
                Service der mich von vielen Mitbewerbern unterscheidet.
            </span>
        </p>
        <p>Gemeinsam finden wir einen gesunden Mittelweg, immer ausgehend von einer ausführlichen Bedarfsanalyse. Mit
            der SIGNAL- IDUNA Gruppe, habe ich einen zuverlässigen, zukunftssicheren und starken Partner an
            meiner Seite.</p>
        <p>Viel Spaß beim Stöbern auf meiner Homepage. Ich freue mich auf Ihre Kontaktaufnahme per Mail, Facebook,
            WhatsApp oder ganz klassisch per Telefon.</p>
        <p>Herzlichst</p>
        <p>Ihr <span itemprop="name">Marcus Neubert</span></p>
    </section>
</div>
