<div>
    <section class="text-container shadow">
        <h1>In  fast allen Kanälen für Sie erreichbar</h1>
        <div class="line"></div>
        <div class="address-wrapper">
          <div>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">SIGNAL IDUNA Gruppe

                <span class="next-line">
                    Hauptagentur Marcus Neubert
                </span>
                <span itemprop="streetAddress">Wielandstr. 2</span>
                </span>
                <span class="next-line">
                    <span itemprop="postalCode">06114</span>
                    <span itemprop="addressLocality">Halle</span>
                </span>
            </p>

            <p>
                <span class="next-line">
                    Telefon/Fax:
                    <span itemprop="telephone">0345/ 68209670</span>
                </span>
                <span class="next-line">
                    Mobil/WhatsApp: 0162/ 6660554
                </span>
                <span class="next-line">
                    E-Mail: <a href="mailto:marcus.neubert@signal-iduna.net">
                    <span itemprop="email">marcus.neubert@signal-iduna.net</span></a>
                </span>
                <span class="next-line">
                    <a href="https://www.signal-iduna.de/marcus.neubert" target="_blank">www.signal-iduna.de/marcus.neubert</a>
                </span>
            </p>
          </div>
          <div class="line mobile-only"></div>
          <div>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">SIGNAL IDUNA

                <span class="next-line">
                    Generalagentur Michael Lages
                </span>
                <span itemprop="streetAddress">Wielandstr. 2</span>
                </span>
                <span class="next-line">
                    <span itemprop="postalCode">06114</span>
                    <span itemprop="addressLocality">Halle</span>
                </span>
            </p>

            <p>
                <span class="next-line">
                    Telefon/Fax:
                    <span itemprop="telephone">0345/ 68209670</span>
                </span>
                <span class="next-line">
                    Mobil/WhatsApp: 0177/ 6900096
                </span>
                <span class="next-line">
                    E-Mail: <a href="mailto:Michael.lages@signal-iduna.net">
                    <span itemprop="email">Michael.lages@signal-iduna.net</span></a>
                </span>
                <span class="next-line">
                    <a href="https://www.signal-iduna.de/michael.lages" target="_blank">www.signal-iduna.de/michael.lages</a>
                </span>
            </p>
          </div>
        </div>
    </section>
</div>
