<div>
    <section class=" text-container shadow">
        <h1>Wir können Ihnen alles versichern, auch unser volles Engagement…</h1>
        <div class="line"></div>
        <p style="font-weight: bold">Für Privatkunden zum Beispiel:</p>
        <ul>
            <li style="list-style-type:none;">- Private Unfallversicherung</li>
            <li style="list-style-type:none;">- Unfallversicherung mit Beitragsrückgewähr</li>
            <li style="list-style-type:none;">- Haftpflicht- und Tierhalterhaftpflicht</li>
            <li style="list-style-type:none;">- Hausrat-, Reisegepäck, Wohngebäudeversicherungen</li>
            <li style="list-style-type:none;">- Rechtsschutzversicherung</li>
            <li style="list-style-type:none;">- Renten-, Lebens- und Berufsunfähigkeitsversicherungen</li>
            <li style="list-style-type:none;">- Krankenvoll- und Zusatzversicherungen, Tagegelder</li>
            <li style="list-style-type:none;">- Schwere- Krankheiten- Versicherung</li>
            <li style="list-style-type:none;">- KFZ- Versicherung</li>
        </ul>
        <p style="font-weight: bold">Für gewerbliche Kunden zudem:</p>
        <ul>
            <li style="list-style-type:none;">- Betriebshaftpflicht, Geschäftsinhalt und viele weitere Deckungskonzepte</li>
            <li style="list-style-type:none;">- Gruppenunfallversicherung und betriebliche Unfallversicherung</li>
            <li style="list-style-type:none;">- Firmen- Rechtsschutz</li>
            <li style="list-style-type:none;">- KFZ- Flottenversicherung</li>
        </ul>
        <p style="font-weight: bold">Finanzen:</p>
        <ul>
            <li style="list-style-type:none;">- Investment</li>
            <li style="list-style-type:none;">- Bausparen & Finanzierungen</li>
            <li style="list-style-type:none;">- Bankprodukte</li>
        </ul>
        <p>Das sind nur ein paar Beispiele. Ich gebe Ihnen mein Versprechen, dass ich Ihnen jeden
            Versicherungsschutz den es auf dem deutschen Markt gibt, anbieten kann.</p>
    </section>
</div>
