<div>
    <section class="pull-left text-container shadow full-width">
        <h1>Handwerker? Händler? Unternehmer?</h1>
        <div class="line"></div>
        <p>Als Partner des Versorgungswerkes verschiedenster Innungen und Berufsverbände haben wir, als
            SIGNAL IDUNA Gruppe,  hier eine besondere Verantwortung im Bereich Handel, Handwerk und Gewerbe.</p>
        <p>Ich besuche regelmäßig Fachschulungen und Seminare und gebe Ihnen damit die Sicherheit, einen zuverlässigen
            und kompetenten Partner vor sich sitzen zu haben.</p>
        <p>Ich bin ein von der Industrie- und Handelskammer geprüfter Fachberater im Bereich Handel, Handwerk und
            Gewerbe und versorge Sie gern mit den aktuellen Informationen.</p>
        <p>Die Berufsverbände der meisten Gewerke haben uns hier unsere Deckungskonzepte zertifiziert und als
            komplett bedarfs- und risikogerecht bestätigt.</p>
        <p>Oder braucht eine Fleischerei genau die gleiche Betriebshaftpflichtversicherung wie eine Schlosserei?</p>
        <p>Rufen Sie mich gern an und wir besprechen genau das Deckungskonzept, welches zu Ihrer Firma passt.</p>

        <div class="logo-container">
            <img src="../../../resources/images/logo_gruen_200_4172.jpg">
            <img src="../../../resources/images/versorgungswerk.png" class="orange-logo">
        </div>
    </section>
</div>
